html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: #d5fff4;
  color: #38362e;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  display: flex;
  flex-flow: column;
}

.lockdown {
  overflow: hidden;
}

.header {
  font-size: 1.5rem;
  text-align: center;
  flex: 0 1 auto;
}

.title {
  font-size: 2.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu {
  text-align: left;
}

.menuitem {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  margin: 0 5px 0 5px;
}

.menuitem:hover {
  background-color: #93c3b6;
  cursor: default;
}

.body {
  font-size: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

.game-list-title {
  font-size: 1.5rem;
  padding-bottom: 6px;
}

.game-list-entry {
  font-size: 1.2rem;
}

.game-list-entry::before {
  content: "‣";
  padding-left: 6px;
  padding-right: 5px;
}

.game-list-entry:hover {
  cursor: pointer;
  color: hsl(48, 15%, 52%);
}

.game-container {
  width: 100%;
  height: 100%;
}

.game-iframe {
  width: 100%;
  height: 100%;
  border: none;
}